body {
    background-color: beige;
}
.topbar {
    margin-bottom: 30px;
    background-color: white;

}
.leftbar {
    margin-right: 4%;
    margin-left: 3%;
    background-color: white;
}
.feed {
    margin-right: 3%;
    background-color: white;
}
.rightbar {
    margin-right: 3%;
    background-color: white;
}






.profile{
    width: 80px
}

